html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color:rgb(187, 229, 255);
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #e4f1ff;
}
header {
    width: 100%;
    height: 40px;
    background-color: #a5c3e7;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    align-items: center;
    box-shadow: 0 16px 8px -9px rgba(191, 191,191,);
    background-color: #a5c3e7;
    color: #000000;
    padding: 35px;
    text-align: left;
}

.logo {
    font-size: 28px;
    font-weight: 600;
    color: rgb(0, 0, 0);
}
.hamburger {
    display: none;
}
.nav-bar ul {
    display: flex;
    list-style: none;
}
.nav-bar ul li a{
    text-decoration: none;
    display: flex;
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 25px;
    margin-right: 25px;
    transition: .2s;
}
.nav-bar ul li a::after{
    display: block;
    content: "";
    border-bottom: 2px solid #1f2935;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}
.nav-bar ul li a:hover::after{
    transform: scaleX(1);
}
.nav-bar ul li a.acrive {
    color:antiquewhite;
}

h1 {
    margin: 0;
}

main {
    max-width: 900px;
    margin: 100px auto;
}

section {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px;
    margin-right: 10px;
}

.content {
    flex-grow: 1;
}

section h2 {
    text-align: left;
    font-size: 25px;
}

@media only screen and (max-width: 900px) {
    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger .line {
        width: 30px;
        height: 3px;
        background: #000000;
        margin: 6px 0;
    }
    .nav-bar{
        height: 0;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100vw;
        background-color: #fff;
        box-shadow: 0 16px 8px -9px rgba(191, 191, 191, 1);
        transition: 0.5s;
        overflow: hidden;
    }
    .nav-bar .active {
        height: 450px;
    }
    .nav-bar ul {
        display: block;
        width: fit-content;
        margin: 80px auto 0 auto;
        text-align: center;
        transition: 0.5s;
        opacity: 0;
    }
    .nav-bar.active ul {
        opacity: 1;
    }
    .nav-bar ul li a {
        margin-bottom: 12px;
    }   
}

footer {
    background-color: #a5c3e7;
    color: #000000;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
